services:
  {{ project_name }}-full-{{ project_stage }}:
    image: ${{ project_name | upper }}_FULL_REGISTRY_URL:${{ project_name | upper }}_FULL_VERSION
    container_name: {{ project_name }}-full-{{ project_stage }}
    restart: unless-stopped
    depends_on:
      {{ project_name }}-db-{{ project_stage }}:
        condition: service_healthy
    environment:
      - TZ=America/Lima
    env_file:
      - .env.database
      - .env.full
    volumes:
      - /mnt/fin-box-1/docker-volumes/navidrome/music:/reezer-cache/music-init:ro
      - /mnt/fin-box-1/docker-volumes/reezer-cache:/reezer-cache
    networks:
      - proxy
      - {{ project_name }}-network-{{ project_stage}}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.reezer-full-develop.rule=Host(`reezer.araoz.dev`)"
      - "traefik.http.routers.reezer-full-develop.entrypoints=websecure"
      - "traefik.http.routers.reezer-full-develop.tls=true"
      - "traefik.http.routers.reezer-full-develop.tls.certresolver=araoz-wildcard"
      - "traefik.http.routers.reezer-full-develop.tls.domains[0].main=araoz.dev"
      - "traefik.http.routers.reezer-full-develop.tls.domains[0].sans=*.araoz.dev"
      - "traefik.http.services.reezer-full-develop.loadbalancer.server.port=8080"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/healthz || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s

